<%- include include/head %>

 <div data-am-widget="slider" class="am-slider am-slider-c2" data-am-slider='{&quot;directionNav&quot;:false}' >
  <ul class="am-slides">
      <li>
          <img src="/images/bing-1.jpg">
          <div class="am-slider-desc">远方有一个地方那里种有我们的梦想</div>
         
      </li>
      <li>
        	<img src="/images/bing-2.jpg">
          <div class="am-slider-desc">某天 也许会相遇 相遇在这个好地方</div>
         
      </li>
      <li>
        	<img src="/images/bing-3.jpg">
          <div class="am-slider-desc">不要太担心 只因为我相信 终会走过这条遥远的道路</div>
         
      </li>
      <li>
        	<img src="/images/bing-4.jpg">
          <div class="am-slider-desc">OH PARA PARADISE 是否那么重要 你是否那么地遥远</div>
         
      </li>
  </ul>
</div>
<div class="am-container">
	<div class="am-g doc-am-g">
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/news">
				<img src="/i/home_icon_news@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">新闻</p>
			</a>
		</div>
	  </div>
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/ehr">
				<img src="/i/home_icon_ehr@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">EHR</p>
			</a>
		</div>
	  </div>
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/daily">
				<img src="/i/home_icon_daily@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">日报</p>
			</a>
		</div>
	  </div>
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/shengao">
				<img src="/i/home_icon_shengao@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">产品申告</p>
			</a>
		</div>
	  </div>
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/faq">
				<img src="/i/home_icon_faq@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">FAQ</p>
			</a>
		</div>
	  </div>
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/meeting">
				<img src="/i/home_icon_meeting@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">会议管理</p>
			</a>
		</div>
	  </div>
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/list">
				<img src="/i/home_icon_list@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">回单上传</p>
			</a>
		</div>
	  </div>
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/later">
				<img src="/i/home_icon_later@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">晚餐预定</p>
			</a>
		</div>
	  </div>
	  <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 col-4">
		<div class="item">
			<a href="/setting">
				<img src="/i/home_icon_setting@2x.png" class="am-img-responsive">
				<p class="am-text-xs am-text-center">设置</p>
			</a>
		</div>
	  </div>

	</div>
</div>
<%- include include/footer %>
<%- include include/foot %>