	
 <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/swiper-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/daily.js"></script>
</body>
</html>