<header data-am-widget="header"
          class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav">
          <a href="javascript:history.back(-1);" class="">
                <i class="am-header-icon am-icon-arrow-left"></i>
                <span><strong>返回</strong></span>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#" class="">
            <%= title %>
          </a>
      </h1>
      <div class="am-header-right am-header-nav">
          <a href="/" class="am-text-xl">
            <span class="am-icon-home"></span>
          </a>
      </div>
  </header>