<div class="am-navbar am-navbar-default" data-am-widget="navbar">  
    <ul class="am-navbar-nav am-cf am-avg-sm-3"><!--导航条是否隐藏多余项的关键参数-->  
        <li>  
            <a href="/">  
                <span class="am-icon-home"></span>  
                <span class="am-navbar-label">首页</span>  
            </a>  
        </li>  
 

        <li>  
            <a href="/todo">  
                <span class="am-icon-laptop">
                <% if(needToDo){ %>
                <span id="need-todo" class="am-badge am-badge-danger am-round"><%=  needToDo%></span>
                <% } %>
                </span>  
                <span class="am-navbar-label">待办</span>

            </a>  
        </li>  
        <li>  
            <a href="/search">  
                <span class="am-icon-search"></span>  
                <span class="am-navbar-label">查找</span>  
            </a>  
        </li> 

        <li>  
            <a href="/users">  
                <span class="am-icon-user-md"></span>  
                <span class="am-navbar-label">个人</span>  
            </a>  
        </li>        
    </ul>  
</div>  