
<%- include ../include/daily-header %>

    <div class="load8">

        <div class="load8-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>

        <div class="load8-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>

        <div class="load8-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>

    </div>
    <section class="out-wrap">
        <div class="header-main ">
             <div class="top am-text-center ">
                <p class="am-padding-xs date"><span id="ymym">2016年06月</span> <span class="am-icon-angle-down am-icon-xs"></span></p>
             </div>
             <div class="am-g day">
                <div class="am-u-sm-8">
                    <h1 class="am-u-sm-4" id="top_shu">20</h1>
                    <div class="am-u-sm-8">
                        <p class="am-padding-xs am-text-sm"><span id="top_week">星期二</span></p>
                        <p class="am-padding-xs am-text-sm"><span id="top_yue">八月廿十</span></p>
                    </div>
                </div>
                <div class="am-u-sm-4">
                    <div class="yun am-fr">
                        <span class="am-text-xl js_jin">今</span>
                    </div>
                </div>  
             </div>
             <!-- end day -->
        </div>
        <!-- end header -->
        <section class="content">
            
            <section class="week">
                <ul class="clearfix">
                    <li><a href="#">日</a></li>
                    <li><a href="#">一</a></li>
                    <li><a href="#">二</a></li>
                    <li><a href="#">三</a></li>
                    <li><a href="#">四</a></li>
                    <li><a href="#">五</a></li>
                    <li><a href="#">六</a></li>
                </ul>
            </section>

            <section class="calenda">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table id="now1" class="tables">
                                <!-- <tr class="">
                                    <td class=" list"><i>12</i><span>中秋</span></td>
                                </tr> -->
                            </table>
                        </div>
                        <div class="swiper-slide">
                            <table id="now2" class="tables">
                                <tr class="">
                                   <!--  <td class=" list"><i>12</i><span>中秋</span></td>
                                    <td class=" list"><i>12</i><span>中秋</span></td>
                                    <td class=" list"><i>12</i><span>中秋</span></td>
                                    <td class=" list"><i>12</i><span>中秋</span></td>
                                    <td class=" list"><i>12</i><span>中秋</span></td>
                                    <td class=" list"><i>12</i><span>中秋</span></td>
                                    <td class=" list"><i>12</i><span>中秋</span></td> -->
                                </tr>
                            </table>
                        </div>
                        <div class="swiper-slide">
                            <table id="now3" class="tables">
                                <tr class="">
                                   <!--  <td class="list"><i>12</i><span>中秋</span></td> -->
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- end calenda -->
        </section>
        <!-- end content -->
        <!-- <section class="prorup"></section> -->
        <!-- 弹窗 -->
        <div class="tc"></div>
        <div class="tc-innner">
            <h2>
                选择日期
            </h2>
            <div class="current-time">
                <i class="i-year">1900</i><i class="i-month">1</i><i class="i-date">1</i>
            </div>
            <div class="swiper-box">
                <i class="i1"></i>
                <i class="i2"></i>
                <i class="i3"></i>
                <div class="swiper-box-li">
                    <div class="swiper-container2 nbxs">
                        <div class="swiper-wrapper year">
                            <div class="swiper-slide">1900年</div>
                            <div class="swiper-slide">1901年</div>
                            <div class="swiper-slide">1902年</div>
                            <div class="swiper-slide">1903年</div>
                            <div class="swiper-slide">1904年</div>
                            <div class="swiper-slide">1905年</div>
                            <div class="swiper-slide">1906年</div>
                            <div class="swiper-slide">1907年</div>
                            <div class="swiper-slide">1908年</div>
                            <div class="swiper-slide">1909年</div>
                            <div class="swiper-slide">1910年</div>
                            <div class="swiper-slide">1911年</div>
                            <div class="swiper-slide">1912年</div>
                            <div class="swiper-slide">1913年</div>
                            <div class="swiper-slide">1914年</div>
                            <div class="swiper-slide">1915年</div>
                            <div class="swiper-slide">1916年</div>
                            <div class="swiper-slide">1917年</div>
                            <div class="swiper-slide">1918年</div>
                            <div class="swiper-slide">1919年</div>
                            <div class="swiper-slide">1920年</div>
                            <div class="swiper-slide">1921年</div>
                            <div class="swiper-slide">1922年</div>
                            <div class="swiper-slide">1923年</div>
                            <div class="swiper-slide">1924年</div>
                            <div class="swiper-slide">1925年</div>
                            <div class="swiper-slide">1926年</div>
                            <div class="swiper-slide">1927年</div>
                            <div class="swiper-slide">1928年</div>
                            <div class="swiper-slide">1929年</div>
                            <div class="swiper-slide">1930年</div>
                            <div class="swiper-slide">1931年</div>
                            <div class="swiper-slide">1932年</div>
                            <div class="swiper-slide">1933年</div>
                            <div class="swiper-slide">1934年</div>
                            <div class="swiper-slide">1935年</div>
                            <div class="swiper-slide">1936年</div>
                            <div class="swiper-slide">1937年</div>
                            <div class="swiper-slide">1938年</div>
                            <div class="swiper-slide">1939年</div>
                            <div class="swiper-slide">1940年</div>
                            <div class="swiper-slide">1941年</div>
                            <div class="swiper-slide">1942年</div>
                            <div class="swiper-slide">1943年</div>
                            <div class="swiper-slide">1944年</div>
                            <div class="swiper-slide">1945年</div>
                            <div class="swiper-slide">1946年</div>
                            <div class="swiper-slide">1947年</div>
                            <div class="swiper-slide">1948年</div>
                            <div class="swiper-slide">1949年</div>
                            <div class="swiper-slide">1950年</div>
                            <div class="swiper-slide">1951年</div>
                            <div class="swiper-slide">1952年</div>
                            <div class="swiper-slide">1953年</div>
                            <div class="swiper-slide">1954年</div>
                            <div class="swiper-slide">1955年</div>
                            <div class="swiper-slide">1956年</div>
                            <div class="swiper-slide">1957年</div>
                            <div class="swiper-slide">1958年</div>
                            <div class="swiper-slide">1959年</div>
                            <div class="swiper-slide">1960年</div>
                            <div class="swiper-slide">1961年</div>
                            <div class="swiper-slide">1962年</div>
                            <div class="swiper-slide">1963年</div>
                            <div class="swiper-slide">1964年</div>
                            <div class="swiper-slide">1965年</div>
                            <div class="swiper-slide">1966年</div>
                            <div class="swiper-slide">1967年</div>
                            <div class="swiper-slide">1968年</div>
                            <div class="swiper-slide">1969年</div>
                            <div class="swiper-slide">1970年</div>
                            <div class="swiper-slide">1971年</div>
                            <div class="swiper-slide">1972年</div>
                            <div class="swiper-slide">1973年</div>
                            <div class="swiper-slide">1974年</div>
                            <div class="swiper-slide">1975年</div>
                            <div class="swiper-slide">1976年</div>
                            <div class="swiper-slide">1977年</div>
                            <div class="swiper-slide">1978年</div>
                            <div class="swiper-slide">1979年</div>
                            <div class="swiper-slide">1980年</div>
                            <div class="swiper-slide">1981年</div>
                            <div class="swiper-slide">1982年</div>
                            <div class="swiper-slide">1983年</div>
                            <div class="swiper-slide">1984年</div>
                            <div class="swiper-slide">1985年</div>
                            <div class="swiper-slide">1986年</div>
                            <div class="swiper-slide">1987年</div>
                            <div class="swiper-slide">1988年</div>
                            <div class="swiper-slide">1989年</div>
                            <div class="swiper-slide">1990年</div>
                            <div class="swiper-slide">1991年</div>
                            <div class="swiper-slide">1992年</div>
                            <div class="swiper-slide">1993年</div>
                            <div class="swiper-slide">1994年</div>
                            <div class="swiper-slide">1995年</div>
                            <div class="swiper-slide">1996年</div>
                            <div class="swiper-slide">1997年</div>
                            <div class="swiper-slide">1998年</div>
                            <div class="swiper-slide">1999年</div>
                            <div class="swiper-slide">2000年</div>
                            <div class="swiper-slide">2001年</div>
                            <div class="swiper-slide">2002年</div>
                            <div class="swiper-slide">2003年</div>
                            <div class="swiper-slide">2004年</div>
                            <div class="swiper-slide">2005年</div>
                            <div class="swiper-slide">2006年</div>
                            <div class="swiper-slide">2007年</div>
                            <div class="swiper-slide">2008年</div>
                            <div class="swiper-slide">2009年</div>
                            <div class="swiper-slide">2010年</div>
                            <div class="swiper-slide">2011年</div>
                            <div class="swiper-slide">2012年</div>
                            <div class="swiper-slide">2013年</div>
                            <div class="swiper-slide">2014年</div>
                            <div class="swiper-slide">2015年</div>
                            <div class="swiper-slide">2016年</div>
                            <div class="swiper-slide">2017年</div>
                            <div class="swiper-slide">2018年</div>
                            <div class="swiper-slide">2019年</div>
                            <div class="swiper-slide">2020年</div>
                            <div class="swiper-slide">2021年</div>
                            <div class="swiper-slide">2022年</div>
                            <div class="swiper-slide">2023年</div>
                            <div class="swiper-slide">2024年</div>
                            <div class="swiper-slide">2025年</div>
                            <div class="swiper-slide">2026年</div>
                            <div class="swiper-slide">2027年</div>
                            <div class="swiper-slide">2028年</div>
                            <div class="swiper-slide">2029年</div>
                            <div class="swiper-slide">2030年</div>
                            <div class="swiper-slide">2031年</div>
                            <div class="swiper-slide">2032年</div>
                            <div class="swiper-slide">2033年</div>
                            <div class="swiper-slide">2034年</div>
                            <div class="swiper-slide">2035年</div>
                            <div class="swiper-slide">2036年</div>
                            <div class="swiper-slide">2037年</div>
                            <div class="swiper-slide">2038年</div>
                            <div class="swiper-slide">2039年</div>
                            <div class="swiper-slide">2040年</div>
                            <div class="swiper-slide">2041年</div>
                            <div class="swiper-slide">2042年</div>
                            <div class="swiper-slide">2043年</div>
                            <div class="swiper-slide">2044年</div>
                            <div class="swiper-slide">2045年</div>
                            <div class="swiper-slide">2046年</div>
                            <div class="swiper-slide">2047年</div>
                            <div class="swiper-slide">2048年</div>
                            <div class="swiper-slide">2049年</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-box-li">
                    <div class="swiper-container3 nbxs">
                        <div class="swiper-wrapper month">
                            <div class="swiper-slide">1月</div>
                            <div class="swiper-slide">2月</div>
                            <div class="swiper-slide">3月</div>
                            <div class="swiper-slide">4月</div>
                            <div class="swiper-slide">5月</div>
                            <div class="swiper-slide">6月</div>
                            <div class="swiper-slide">7月</div>
                            <div class="swiper-slide">8月</div>
                            <div class="swiper-slide">9月</div>
                            <div class="swiper-slide">10月</div>
                            <div class="swiper-slide">11月</div>
                            <div class="swiper-slide">12月</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-box-li">
                    <div class="swiper-container4 nbxs">
                        <div class="swiper-wrapper date">
                            <div class="swiper-slide">1日</div>
                            <div class="swiper-slide">2日</div>
                            <div class="swiper-slide">3日</div>
                            <div class="swiper-slide">4日</div>
                            <div class="swiper-slide">5日</div>
                            <div class="swiper-slide">6日</div>
                            <div class="swiper-slide">7日</div>
                            <div class="swiper-slide">8日</div>
                            <div class="swiper-slide">9日</div>
                            <div class="swiper-slide">10日</div>
                            <div class="swiper-slide">11日</div>
                            <div class="swiper-slide">12日</div>
                            <div class="swiper-slide">13日</div>
                            <div class="swiper-slide">14日</div>
                            <div class="swiper-slide">15日</div>
                            <div class="swiper-slide">16日</div>
                            <div class="swiper-slide">17日</div>
                            <div class="swiper-slide">18日</div>
                            <div class="swiper-slide">19日</div>
                            <div class="swiper-slide">20日</div>
                            <div class="swiper-slide">21日</div>
                            <div class="swiper-slide">22日</div>
                            <div class="swiper-slide">23日</div>
                            <div class="swiper-slide">24日</div>
                            <div class="swiper-slide">25日</div>
                            <div class="swiper-slide">26日</div>
                            <div class="swiper-slide">27日</div>
                            <div class="swiper-slide">28日</div>
                            <div class="swiper-slide">29日</div>
                            <div class="swiper-slide">30日</div>
                            <div class="swiper-slide">31日</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tc-bot">
                <div class="tc-bot-left">回到今天</div>
                <div class="tc-bot-right">确定</div>
                <i></i>
            </div>
        </div>
    </section>

<%- include ../include/footer %>
<%- include ../include/daily-footer %>
