<%- include ../include/head %>
<%- include ../include/header %>

 <div id="user" class="am-container">

 	<div class="am-g">
			<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-xs-12" id="userMessage">   
				<div class="am-form-group">
				    <label for="doc-vld-url-2-1">新密码：</label>
				    <input type="password" id="newPwd"  required/>
				</div>
				<div class="am-form-group">
				    <label for="doc-vld-url-2-1">确认新密码：</label>
				    <input type="password" id="doc-vld-url-2-1"  required/>
				</div>
			</div>
	</div>
	<br>
	<div class="am-g">
		<a type="button" href="javascript:void(0)" class="am-btn am-btn-primary am-btn-block am-radius">确认修改</a>
	</div>


 </div>

<script type="text/javascript">
	
</script>

<%- include ../include/footer %>
<%- include ../include/foot %>