<%- include ../include/head %>
<%- include ../include/header %>

 <div data-am-widget="tabs" class="am-tabs am-tabs-d2">
      
      <ul class="am-tabs-nav am-cf">
          <li class="am-active"><a href="[data-tab-panel-0]">新闻</a></li>
          <li class=""><a href="[data-tab-panel-1]">通知</a></li>
          <li class=""><a href="[data-tab-panel-2]">招聘</a></li>
      </ul>
      <div class="am-tabs-bd">
          <div data-tab-panel-0 class="am-tab-panel am-active">
            <div>
            </div>
          </div>
          <div data-tab-panel-1 class="am-tab-panel ">
            【彩虹】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
          </div>
          <div data-tab-panel-2 class="am-tab-panel ">
            【歌唱】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
          </div>
      </div>
  </div>
<%- include ../include/footer %>
<%- include ../include/foot %>